<?xml version="1.0" encoding="UTF-8"?>
<bean:beans xmlns="http://www.springframework.org/schema/security"
            xmlns:bean="http://www.springframework.org/schema/beans"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:security="http://www.springframework.org/schema/security"
            xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">
    <http entry-point-ref="EntryPoint" auto-config="true" use-expressions="true">
        <intercept-url pattern="/favicon.ico" access="permitAll()"></intercept-url>
        <intercept-url method="GET" pattern="/logout" access="permitAll()"></intercept-url>
        <intercept-url method="POST" pattern="/logout" access="permitAll()"></intercept-url>
        <intercept-url method="GET" pattern="/public/**" access="permitAll()"/>
        <intercept-url method="POST" pattern="/public/**" access="permitAll()"/>
        <intercept-url method="GET" pattern="/monitor/**" access="hasAnyRole('ROLE_Monitor')"/>
        <intercept-url method="POST" pattern="/monitor/**" access="hasAnyRole('ROLE_Monitor')"/>
        <intercept-url method="GET" pattern="/teacher/**" access="hasAnyRole('ROLE_Monitor','ROLE_Teacher')"/>
        <intercept-url method="POST" pattern="/teacher/**" access="hasAnyRole('ROLE_Monitor','ROLE_Teacher')"/>
        <intercept-url method="GET" pattern="/user/**" access="hasAnyRole('ROLE_Monitor','ROLE_Teacher','ROLE_User')"/>
        <intercept-url method="POST" pattern="/user/**" access="hasAnyRole('ROLE_Monitor','ROLE_Teacher','ROLE_User')"/>
        <intercept-url method="POST" pattern="/WangUploadfile" access="hasAnyRole('ROLE_Monitor')"/>
        <intercept-url method="POST" pattern="/uploadfile" access="hasAnyRole('ROLE_Monitor','ROLE_Teacher','ROLE_User')"/>

        <custom-filter ref="ShuFilter" after="CAS_FILTER"></custom-filter>
      <form-login
              authentication-success-handler-ref="MyAuthenticationsuccessHandler"
              authentication-failure-handler-ref="MyAuthenticationFaiureHandler"
                ></form-login>

        <headers>
            <frame-options policy="SAMEORIGIN"></frame-options>
        </headers>
        <csrf disabled="true"></csrf>
        <logout success-handler-ref="MyLogoutSuccessHandler" delete-cookies="JSESSIONID"></logout>
    </http>
    <authentication-manager id="authenticationManager">
        <authentication-provider user-service-ref="MyUserDetailService"></authentication-provider>
    </authentication-manager>
    <bean:bean id="MyUserDetailService"
               class="com.shu.labrary.service.springsecurity.impl.MyUserDetailService"></bean:bean>
    <bean:bean id="MyAuthenticationsuccessHandler"
               class="com.shu.labrary.service.springsecurity.impl.MyAuthenticationsuccessHandler"></bean:bean>
    <bean:bean id="MyAuthenticationFaiureHandler"
               class="com.shu.labrary.service.springsecurity.impl.MyAuthenticationFaiureHandler"></bean:bean>

    <!--未登录检测器-->
    <bean:bean id="EntryPoint" class="com.shu.labrary.service.springsecurity.impl.EntryPoint"></bean:bean>

    <!--登出-->
    <bean:bean id="MyLogoutSuccessHandler" class="com.shu.labrary.service.springsecurity.impl.MyLogoutSuccessHandler"></bean:bean>


    <!--上海大学统一认证-->
    <bean:bean id="ShuFilter" class="com.shu.labrary.service.springsecurity.impl.ShuLogin.ShuFilter"></bean:bean>

</bean:beans>